* {
  font-family: "Playfair Display", serif;
}

#showcase {
  background: url("../img/showcase1.jpg");
  position: relative;
  background-size: cover;
  height: 95vh;
  width: 100%;
}
#headerArea {
  display: none;
  margin-top: 30px;
}

#about {
  opacity: 0;
}

.primary-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(233, 236, 229, 0.8);
}
.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(59, 58, 54, 0.9);
}

.my-skills-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
}

#showcase .container {
  padding-top: 20%;
}

.text-large {
  font-size: 1.7rem;
}

#services {
  min-height: 125vh;
}

#services .btn {
  border: none;
}

#services .card:hover {
  color: #007bff !important;
  cursor: pointer;
}

#services .card {
  min-height: 490px;
  max-height: 500px;
}

#skills {
  background: url("../img/background2.jpg");
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  background-position: 0 -200px;
  min-height: 500px;
  width: 100%;
}

#testimonials img {
  height: 120px;
  margin-top: -60px;
  border: 1px solid #000;
}

#testimonials .card {
  border: 1px solid #000;
}

#contact {
  background: url("../img/background2.jpg");
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  background-position: 0 -200px;
  min-height: 500px;
  width: 100%;
}

#main-footer .col {
  margin-top: 75px;
}

.bg-light-01 {
  background: #e9ece5;
}

.bg-first {
  background: #b3c2bf;
}

.bg-second {
  background: #c0dfd9;
}

.bg-dark-01 {
  background: #3b3a36;
}

.fadeInLeft {
  opacity: 0;
  animation-name: fadeInLeft;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.fadeInRight {
  opacity: 0;
  animation-name: fadeInRight;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.fadeIn {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes fadeInLeft {
  0% {
    margin-left: -500px;
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}

@keyframes fadeInRight {
  0% {
    margin-left: 500px;
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 600px) {
  #showcase {
    height: 60vh;
  }

  #headerArea {
    margin-top: 25%;
  }
}

@media (min-width: 600px) {
  #headerArea {
    margin-top: 100px;
  }
}
